/* Font */
body {
  font-family: Roboto , sans-serif;
}

/* CSS Variables */
:root {
  --color-blue: #00ACDC;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;
  position: relative;
}

/* Navigation */
.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav li + li {
  margin-left: 20px; /* відступи між лінками */
}

/* Базові посилання чорні */
.nav a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 50px; /* висота посилань */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000; /* базовий чорний */
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

/* Hover underline для звичайних посилань */
.nav a:not(.apple, .laptops)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px; /* під текстом */
  width: 0;
  height: 2px;
  background-color: var(--color-blue);
  transition: width 0.3s;
}

.nav a:not(.apple, .laptops):hover::after,
.nav a:not(.apple, .laptops):focus::after {
  width: 100%;
}

/* Активне підкреслення для звичайних посилань */
.nav a.is-active:not(.apple, .laptops)::after {
  width: 100%;
}

/* Apple */
.nav a.apple {
  color: var(--color-blue);
}

/* Прямокутник під Apple — завжди видно по центру слова */
.nav a.apple::before {
  content: '';
  position: absolute;
  bottom: -18.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 4px;
  background: var(--color-blue);
  border-radius: 8px;
}

/* Підкреслення при hover/focus для Apple */
.nav a.apple::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 0;
  height: 2px;
  background-color: var(--color-blue);
  transition: width 0.3s;
}

.nav a.apple:hover::after,
.nav a.apple:focus::after {
  width: 100%;
}

/* Laptops & Computers */
.nav a.laptops {
  color: var(--color-blue);
}

.nav a.laptops::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 0;
  height: 2px;
  background-color: var(--color-blue);
  transition: width 0.3s;
}

.nav a.laptops:hover::after,
.nav a.laptops:focus::after {
  width: 100%;
}
