/* Font */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* CSS Variables */
:root {
  --color-blue: #00ACDC;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
}

/* Navigation */
.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__item + .nav__item {
  margin-left: 20px; /* відступи між лінками */
}

.nav__link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 60px; /* висота посилань */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000; /* базовий чорний */
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
}

/* Hover underline для звичайних посилань */
.nav__link:not(.apple, .laptops)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 0;
  height: 2px;
  background-color: var(--color-blue);
  transition: width 0.3s;
}

.nav__link:not(.apple, .laptops):hover::after,
.nav__link:not(.apple, .laptops):focus::after {
  width: 100%;
}

/* Активне підкреслення */
.nav__link.is-active:not(.apple, .laptops)::after {
  width: 100%;
}

/* Apple */
.nav__link.apple {
  color: var(--color-blue);
}

.nav__link.apple::before {
  content: '';
  position: absolute;
  bottom: -18.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 4px;
  background: var(--color-blue);
  border-radius: 8px;
}

.nav__link.apple::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 0;
  height: 2px;
  background-color: var(--color-blue);
  transition: width 0.3s;
}

.nav__link.apple:hover::after,
.nav__link.apple:focus::after {
  width: 100%;
}

/* Laptops & Computers */
.nav__link.laptops {
  color: var(--color-blue);
}

.nav__link.laptops::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 0;
  height: 2px;
  background-color: var(--color-blue);
  transition: width 0.3s;
}

.nav__link.laptops:hover::after,
.nav__link.laptops:focus::after {
  width: 100%;
}

/* Logo */
.logo img {
  width: 40px;
  height: 40px;
  opacity: 1;
}

/* Адаптивний хедер для tablet */
@media (max-width: 1200px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 0 20px;
  }
}
